- if @short_url.present? and !@short_url.valid?
  %p Invalid url: #{@short_url.url}
- else
  %p http://localhost:4567/#{@short_url.shorten}

%form(action="/" method="POST")
  %label(for="url")
  %input(type="text" name="url" id="url")
  %input(type="submit" value="Shorten")

